.home {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 1000px;
    background: url(/assets/images/start_kopi_2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    flex-wrap: wrap;
}

.home h1 {
    font-family: "Archivo Black", sans-serif;
    font-size: 62px;
    color: white;
    text-align: center;
    width: 100%;
    padding-top: 15%;
}


.home button {
    background-color: #BE884C;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: white;
    font-size: 18px;
    border: none;
    padding: 12px 60px;
    cursor: pointer;
    border-radius: 40px;
    text-align: center;
    margin-bottom: 50%;
}

.home button:hover {
    font-weight: 700;
}

.news {
    width: 100%;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.news h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 28px;
    font-weight: 600;
}


.products {
    width: 90%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 120px;
}

.products_col {
    text-align: left;
    line-height: 30px;
    position: relative;
}

.products_col:hover {
    transform: scale(1.1);
}

.products_col img {
    width: 100%;
    margin-bottom: 20px;
}

.products_col button {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 2;
    background-color: #EFEFEF;
    font-family: "Open Sans", sans-serif;
    color: black;
    font-weight: 600;
    font-size: 12px;
    border: none;
    padding: 8px 18px;
    cursor: pointer;
    border-radius: 40px;
    text-align: center;
}

.products_col h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.products_col p {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

.btn {
    width: 100%;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn button {
    background-color: #BE884C;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: white;
    font-size: 18px;
    border: none;
    padding: 12px 60px;
    cursor: pointer;
    border-radius: 40px;
}

.btn button:hover {
    font-weight: 700;
}

@media (min-width: 1950px) {

    .products {
        max-width: 1920px;
    }
}

@media (max-width: 991px) {
    .home {
        min-height: 800px;  
    }

    .home h1 {
        font-size: 44px;
    }

    .products {
        flex-wrap: wrap;
        padding: 5%;
    }
}

@media (max-width: 768px) {
    .home {
        min-height: 700px;  
    }

    .home h1 {
        font-size: 36px;
        padding-top: 25%;
    } 

    .products {
        flex-wrap: wrap;
        padding: 0 5%;
    }
    
}

@media (max-width: 450px) {
    .home {
        min-height: 600px;  
    }

    .home h1 {
        font-size: 34px;
        padding-top: 30%;
    }

    .products {
        flex-wrap: wrap;
        padding: 0 5%;
    }
}