#single_product_container {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 120px;
    width: 80%;
}

.image {
    object-fit: contain;
    width: 50%;
    height: 100%;
}

.single_product {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.single_product h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 32px;
    font-weight: 200;
}

.single_product h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 30px;
}

.single_product p {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

label {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-top: 60px;
    margin-bottom: 10px;
}

#size_select {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

#add_to_cart_btn {
    background-color: #BE884C;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: white;
    font-size: 18px;
    border: none;
    padding: 12px 60px;
    cursor: pointer;
    border-radius: 40px;
    text-align: center;
    margin-bottom: 60px;
}

#add_to_cart_btn:hover {
    font-weight: 700;
}


@media (min-width: 1950px) {

    #single_product_container {
        max-width: 1500px;
    }

}

@media (max-width: 768px) {
    #single_product_container {
        margin-top: 180px;
        flex-wrap: wrap;
    }

    .image {
        width: 100%;
    }

    .single_product {
        width: 100%;
    }

    .single_product h2 {
        margin-top: 60px;
    }
}